body{
    font-family: Google Sans,Roboto,Arial,sans-serif;
    color: #575c60;
    margin: 0;
    overflow-x: hidden;
}
.navbar{
      color: #000;

        font-weight: bold;
        padding-top: 20px;
        box-shadow: 0 0 21px 1px rgb(0 0 0 / 16%);

}
.logo
{
    float: left;
    height: 24px;
    width: 134px;
    display: flex;
    margin-left: 5%;
    vertical-align: middle;

}

.logo-google{
    width: 32px; 
    height: 24px; 
    margin: 0;
}
.head-1
{
    margin: 0;
    color: #575c60;
    font-family: Google Sans,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;   
}

.login{
    float: right;
    display: flex ;
    width: 200px;
    height: 42.5;
    margin: 0;
    justify-content: space-evenly;
    margin-right: 5%;
}
.logos{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #5f6368;
    
}
.logos:hover, .head-1:hover, .logo-google:hover, .title:hover, .tile:hover, .last-bottom:hover, .logos-bottom:hover{
 cursor: pointer;
}
.logos:hover{
    fill: #1967d2;
}

.mainhead1
{
    color: #3c4043;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-left: 400px;
}

.first{
    grid-column-start: 3;
    grid-column-end: span 8;
    padding-top: 60px;
}
.product{
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 600;
    margin-top: 20px;
    opacity: .75;
}

.check-box{
    font-weight: 600;

    cursor: pointer;
    align-items: center;
    margin: 0;
    font-size: 11px;
    font-weight: 550px;
}

.first-option, .second-option{
    
}
.items{
    width: 1200px; height: 520px;margin-left: 295px;display: flex; position: relative;margin-bottom: 100px;
}
.tile{
    width: 390px; 
    height: 450px; 
    background-color:#f8f9fa;
    position: relative;
    margin-right: 20px;
}
.images{
    width: 250px;
    height: 250px; 
position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px -125px;
  
}
.images:hover{
    transform: scale(1.07);
    transition: transform .3s ease-in;

}
.title{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 0;
    color: #3c4043;
    font-weight: 600;
    float:left; 
    margin-top: 460px;
}
.coloumn{
    margin-left: 50px;
}
svg{
    width: 50px;
}

.link:hover{
    cursor: pointer;
}
.logos-bottom{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.last-bottom{
    font-size: 11px;
    color: #423f3f;     
}


